<!DOCTYPE html>
<html>
  <head>
    <title>下宿ごはん</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header>

      <h1><%= link_to "下宿ごはん", gohans_path %></h1>
      <div class="header-list">
      <ul>
      
      
    
<% unless user_signed_in? %>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% else %>
      <li><%= link_to "マイページ", user_path(current_user.id), method: :get %></li>
      <li> <%= link_to "新規投稿", new_gohan_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% end %>

      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>